{{ partial "header.html" . }}
    <div id="main">
        <div class="header">
            <h1>Open Source Computing</h1>
            <h2>COMP 412, Loyola University Chicago</h2>
            <h2>Spring 2016</h2>
            <h2>taught by Matt Bone</h2>
        </div>

        <div class="content">
            <p>
              Welcome to open source computing! This site contains the syllabus, schedule, lecture notes, and other helpful information.
              Please use sakai to find the assignments and forum.
            </p>
        </div>
    </div>
{{ partial "footer.html" . }}
